<header class="head">

    <div class="header">
        <div class="header__outer">
            <div class="header__container">
                <div class="header__img">
                    <img class="header__image-one" src="../../assets/dananz.png" alt="dananz logo">
                    <img class="header__image-two" src="../../assets/Vector 286.png" alt="vector">
                </div>
                <nav class="header__nav">
                    <ul class="header__item">
                        <li class="header__list"><a class="header__link" href="#">home</a></li>
                        <li class="header__list"><a class="header__link" href="#">about us</a></li>
                        <li class="header__list"><a class="header__link" href="#">services</a></li>
                        <li class="header__list"><a class="header__link" href="#">our terms</a></li>
                        <li class="header__list header__list--last"><a class="header__link header__link--last"
                                href="#">contact us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>