.overall {
    background-color: rgb(245, 234, 234);
    padding: 0 0 6rem 8rem;
    min-height: 93vh;



    @media only screen and (min-width: 20em) {
        padding: 0rem;
    }

    @media only screen and (min-width: 75em) {
        padding: 0 0 6rem 8rem;
    }

    .container {
        background-color: white;
        margin: 0 8rem 0 8rem;

        @media only screen and (min-width: 20em) {
            margin: 0rem;

        }

        @media only screen and (min-width: 75em) {
            margin: 0 8rem 0 8rem;
        }

        &__h1 {
            width: 486px;
            padding-top: 1rem;
            margin: 2rem auto; //
            font-weight: var(--font-weight-bold);
            font-size: 30px; //
            text-transform: capitalize;
            color: #000000;
            text-align: center;

            @media only screen and (min-width: 20em) {
                width: 90%;
                margin: 1rem auto; //
            }

            @media only screen and (min-width: 75em) {
                width: 486px;
                margin: 0rem auto; //
            }
        }

        &__para {
            // border: 1px solid red;
            width: 518px;
            margin: 3rem auto 0 auto;
            text-align: center;
            font-size: var(--font-size-body);

            @media only screen and (min-width: 20em) {
                width: 90%;
                margin: 3rem auto;
            }

            @media only screen and (min-width: 75em) {
                margin: 3rem auto 0 auto;
            }
        }

        &__image {
            width: 70%;
            margin: 2rem auto;

            @media only screen and (min-width: 20em) {
                width: 97%;
                margin: 2rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 2rem auto;

            }

            & img {
                width: 100%;
                height: 50vh;

                @media only screen and (min-width: 20em) {
                    height: unset;

                }

                @media only screen and (min-width: 75em) {
                    height: 50vh;

                }

            }
        }

        &__view {
            display: flex;
            width: 70%;
            margin: 5rem auto;
            gap: 1rem;
            line-height: 1.6;

            @media only screen and (min-width: 20em) {
                width: 95%;
                margin: 1rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 5rem auto;

            }
        }

        &__design {
            width: 50%;


            & h3 {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 12px;
            }
        }

        &__project {
            width: 50%;

            & h3 {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 12px;
            }
        }

        &__date {
            display: flex;
            margin-top: 1.6rem;

            & p {
                margin-right: auto;
            }
        }
    }

    .two {
        &__two-pic {
            display: flex;
            width: 70%;
            margin: 0 auto;
            gap: 2rem;

            @media only screen and (min-width: 20em) {
                width: 95%;
                margin: 1rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 0 auto;

            }
        }

        &__first-img {
            width: 50%;

            & img {
                width: 100%;
            }
        }

        &__second-img {
            width: 50%;

            & img {
                width: 100%;
            }
        }

        &__light {
            width: 70%;
            margin: 0 auto;
            margin-top: 2rem;

            @media only screen and (min-width: 20em) {
                width: 95%;
                margin: 1rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 0 auto;

            }

            & img {
                width: 100%;
            }
        }

        &__double {
            display: flex;
            width: 70%;
            margin: 1rem auto 4rem auto;
            gap: 1rem;

            @media only screen and (min-width: 20em) {
                width: 95%;
                margin: 1rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 0 auto;

            }

        }

        &__sofa {
            & img {
                width: 100%;
            }
        }

        &__pure-light {
            & img {
                width: 100%;
            }
        }
    }

    .discuss {
        background-color: var(--color-primary);

        &__contact-para {
            width: 70%;
            margin: 0 auto;
            display: flex;
            padding: 3rem 0;

            @media only screen and (min-width: 20em) {
                width: 95%;
                margin: 1rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 0 auto;

            }
        }

        &__par {
            margin-right: auto;


            & p {
                font-weight: 600;
                color: white;
                font-size: 20px;
            }
        }

        &__contact {
            & p {
                font-size: 1rem;
                color: #D9D9D9;
            }

            & button {
                margin-top: 1rem;
                color: #333333;
                padding: 10px 30px 10px 30px;
                background-color: #FFFFFF;
            }
        }
    }

    .footer {
        padding: 3rem 0;

        &__design {
            position: relative;
            width: 6.5rem;
        }

        &__curve {
            position: absolute;
            top: 204.1rem;
            width: 2.3rem;
            left: 34.3rem;

            @media only screen and (min-width: 20em) {
                top: 136.9rem;
                left: 3.7rem;
            }

            @media only screen and (min-width: 75em) {
                top: 204.5rem;
                left: 35.5rem;
            }
        }

        &__container {
            display: flex;
            width: 70%;
            margin: 0 auto;

            @media only screen and (min-width: 20em) {
                width: 95%;
                margin: 1rem auto;

            }

            @media only screen and (min-width: 75em) {
                width: 70%;
                margin: 0 auto;

            }
        }

        &__furniture {
            margin-right: auto;
        }

        &__wood {
            font-weight: 600;
            font-size: 18px;

            & p {
                color: #333333;
            }
        }

        &__form {
            margin-top: 2rem;

            & p {
                margin-bottom: 1rem;
            }

            & form>input {
                width: 100%;
                padding: 1rem 0rem;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                position: relative;

            }

            & span {
                position: absolute;
                font-size: 1.5rem;
                left: 100rem;

                @media only screen and (min-width: 20em) {
                    left: 30rem;
                }

                @media only screen and (min-width: 75em) {
                    left: 108rem;
                }
            }

        }


        &__flex {
            display: flex;
            justify-content: end;

            & p {
                margin-right: 2.9rem;
                margin-top: 2rem;
            }
        }

        &__socials {
            display: flex;
            justify-content: end;

            & img {
                width: 1.5rem;
                margin-right: .8rem;
            }
        }
    }
}