<app-header></app-header>
<div class="overall">
    <div class="container">
        <h1 class="container__h1">minimalistic room</h1>
        <p class="container__para">It is a long established fact that a reader will be <br>
            distracted by the readable content of a page <br>
            when looking at its layout.</p>
        <div class="container__image">
            <img src="../assets/Mask chair.png" alt="">
        </div>
        <div class="container__view">
            <div class="container__design">
                <h3>Project Overview</h3>
                <p>Online learning with us does not interfere with your daily life.
                    because learning can be done anytime and anywhere. Online learning with us
                    does not interfere with your daily life. because learning can be done anytime
                    and anywhere. Online learning with us does
                    not interfere with your daily life. because learning can be done anytime and anywhere. </p>
                <div class="container__date">
                    <p>July 22 - 2022</p> <span>Interior Design - Furniture</span>
                </div>
            </div>
            <div class="container__project">
                <h3>Design Process</h3>
                <p>Online learning with us does not interfere with your daily life. because learning can be done anytime
                    and anywhere. Online learning with us
                    does not interfere with your daily life.
                    because learning can be done anytime and anywhere.</p> <br>

                <p>Online learning with us does not interfere with your
                    daily life. because learning can be done anytime and anywhere.
                    Online learning with us does not interfere with your daily life.
                    because learning can be done anytime and anywhere.</p>
            </div>

        </div>
        <div class="two">
            <div class="two__two-pic">
                <div class="two__first-img"><img src="../assets/cloth.jpg" alt=""></div>
                <div class="two__second-img"><img src="../assets//phone.jpg" alt=""></div>
            </div>
            <div class="two__light"><img src="../assets/Mask gro.jpg" alt=""></div>
            <div class="two__double">
                <div class="two__sofa"><img src="../assets/sofaLight.jpg" alt=""></div>
                <div class="two__pure-light"><img src="../assets/purelight.jpg" alt=""></div>
            </div>
        </div>

        <div class="discuss">
            <div class="discuss__contact-para">
                <div class="discuss__par">
                    <p>let's discuss making your interior <br> like a dream place!</p>
                </div>
                <div class="discuss__contact">
                    <p>Contact us below to work together to build your <br> amazing interior</p>
                    <button type="button">contact us</button>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer__container">
                <div class="footer__furniture">
                    <div class="footer__danze">
                        <img class="footer__design" src="../assets/dananz.png" alt="">
                        <img class="footer__curve" src="../assets/Vector 286.png" alt="">
                    </div>
                    <div class="footer__wood">
                        <p>One of the best furniture <br> agency.</p>
                    </div>
                </div>
                <div class="footer__form">
                    <p>Enter  your email to get the laterst news</p>
                    <form>
                        
                        <input type="text" placeholder="email address" > 
                        <span>&#8640;</span>
                    </form>
                    <div class="footer__icons">
                        <div class="footer__flex">
                            <p>Follow us On</p>
                        </div>
                        <div class="footer__socials">
                            <img src="../assets/facebook.png" alt="">
                            <img src="../assets/instagram.png" alt="">
                            <img src="../assets/tiktok.png" alt="">
                            <img src="../assets/youtube.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>